<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:application name="yfyk_server" />

    
    <!-- zookeeper注册中心 -->
    <dubbo:registry protocol="zookeeper" address="${dubboAddress}" />
	<dubbo:protocol name="dubbo" port="-1"  payload="16777216"/>
    <!-- 和本地bean一样实现服务 -->
    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
    
	
</beans>
